.item {
  display: flex;
  align-items: center;
}

.larger-checkbox {
  transform: scale(1.5);
}

.trash-icon {
  margin-left: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(146, 212, 59);
  color: #fff;
  text-align: center;
  padding: 10px;
}
