.item {
  display: flex;
  align-items: center;
}

.addForm {
  padding: 10px;
  border-radius: 5px;
  width: 98%;
}

label[for="addItem"] {
  display: none;
}

label[for="search"] {
  display: none;
}

.addForm label {
  font-size: 16px;
  font-weight: bold;
}

.addForm input {
  flex: 1;
  margin: 10px 0;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  width: 95%;
}

.addForm button {
  color: #fff;
  margin: 10px 10px;
  cursor: pointer;
}

.faPlus{
  color: rgb(146, 212, 59);
  font-size: 16px;
}


.larger-checkbox {
  transform: scale(1.5);
}

.trash-icon {
  margin-left: 10px;
}

.searchBox{
  width: 98%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(146, 212, 59);
  color: #fff;
  text-align: center;
  padding: 10px;
}
